<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 th:text="${recipe.getDescription()}"></h1>
    <br>
    <h3>Ingredients</h3>
    <div th:each="ingredient : ${recipe.getIngredients()}">
        <p th:text="${ingredient.getDescription()}"></p>
        <br>
    </div>
    <h3>Categories</h3>
    <div th:each="category : ${recipe.getCategories()}">
        <p th:text="${category.getDescription()}"> </p>
        <br>
    </div>
    <h3>Difficulty</h3>
    <p th:text="${recipe.getDifficulty()}"></p>
    <br>
    <p th:text="${recipe.getNotes().getRecipeNotes()}">
    </p>
</body>
</html>